[Unit]
Description=Docker volume plugin for S3
Before=docker.service
After=network.target
Requires=docker.service

[Service]
ExecStart=/opt/pyS3volume/app.py
User=root
Group=docker

[Install]
WantedBy=multi-user.target